.navbar{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
    width: 1290px;
    height: 92px;
    padding: 16px 120px 16px 120px;
} 
.nev-left{
    width: 140px;
    height: 60px;
    margin-left: 120px;
}
.nav-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-weight: 500px;
}
.nav-right button{
    margin-left: auto;
    padding: 10px 18px;
    background: #30b868;
    color: azure;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 120px;

}